body {
  font-family: "Roboto";
  color: rgba(255, 255, 255, 0.8);
}


.sticky-nav,
.main {
  position: fixed;
}

.sticky-nav {
  background: #D5E5EB;
  height: 50px;
  width: 100%;
  color: #B4D1DB;
  display: inline-block;
  z-index: 2;
}

.nav>li {
  float:left;
}

.navbar-nav {
  width:100%;
  background: #D5E5EB;
  font-weight: normal;
  /*font-size: 16pt;*/
}

figcaption {
  font-size: 20px;
}

section.module.parallax {
  min-height: 700px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

section.module.parallax h1 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 30px;
  font-family: 'Armata';
  line-height: 140px;
  text-align: center;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

section.module.parallax p {
  font-size: 18px;
  font-family: "Raleway";
  color: #606860;
  text-align: center;
}

section.module.parallax h2 {
  font-size: 25px;
  font-family: "Armata";
  color: #606860;
  text-align: center;
}

section.module.parallax ul {
  font-size: 18px;
  font-family: "Raleway";
  color: #606860;
  // text-align center;
}

.nicer-image {
  border-radius: 200px;
  width: 300px;
}

.placeholder-image {
  width: 100%;
  height: auto;

}

.icon-size {
  font-size: 40px;
}

section.module.parallax-1 {
  background: #FFFFFF;
}
section.module.parallax-2 {
  background: #F0F0F0;
}
section.module.parallax-3 {
  background: #FFFFFF;
}
section.module.parallax-4 {
  background: #F0F0F0;
}
section.module.parallax-5 {
  background: #FFFFFF;
}

section.module.parallax-6 {
  background: #F0F0F0;
}

@media all and (min-width: 600px) {

  section.module p {
    font-size: 20px;
  }
  section.module.parallax h1 {
    font-size: 30px;
  }
}
@media all and (min-width: 960px) {
  section.module.parallax h1 {
    font-size: 55px;
  }
}

.footer-p {
font-family: "Raleway";
color: #337ab7;
background: #D5E5EB;
}

.footer-navigation {
  background: #D5E5EB;
}
