body {
  font-family: "Roboto";
  color: rgba(255, 255, 255, 0.8);
}


.sticky-nav,
.main {
  position: fixed;
}

.sticky-nav {
  background: #D5E5EB;
  height: 50px;
  width: 100%;
  color: #B4D1DB;
  display: inline-block;
  z-index: 2;
}

.nav>li {
  float:left;
}

.navbar-nav {
  width:100%;
}
figcaption {
  font-size: 20px;
}

section.module.parallax {
  min-height: 700px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
section.module.parallax h1 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 30px;
  font-family: "Roboto";
  line-height: 140px;
  text-align: center;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

section.module.parallax p {
  font-size: 18px;
  font-family: "Roboto";
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
}

.nicer-image {
  border-radius: 30px;
  width: 150px;
}

.placeholder-image {
  width: 150px;
  height: 150px;

}

section.module.parallax-1 {
  background-image: url("https://images.unsplash.com/25/peak.jpg?crop=entropy&fit=crop&fm=jpg&h=650&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1375");
}
section.module.parallax-2 {
  background-image: url("https://images.unsplash.com/photo-1428709671697-959dbd39a3ac?crop=entropy&fit=crop&fm=jpg&h=650&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1375");
}
section.module.parallax-3 {
  background-image: url("https://images.unsplash.com/photo-1415638424454-36a7d12ae941?crop=entropy&fit=crop&fm=jpg&h=650&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1375");
}
section.module.parallax-4 {
  background-image: url("https://images.unsplash.com/photo-1465268920654-8c0ce0ab726c?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&s=fe6a0494e665ea169d2d1d420ddc3bb4");
}
@media all and (min-width: 600px) {

  section.module p {
    font-size: 20px;
  }
  section.module.parallax h1 {
    font-size: 30px;
  }
}
@media all and (min-width: 960px) {
  section.module.parallax h1 {
    font-size: 60px;
  }
}

.footer-p {
font-family: "Roboto";
color: #337ab7;
}
